body {
  font-family: Arial;
  width: 350px;
}

label {
  font-weight: bold;
}

div {
  padding-bottom: 20px;
}

#customname-input {
  padding: 5px;
  width: 150px;
}

.output-paragraph {
  background: lightgreen;
  padding: 10px;
  visibility: hidden;
}
